name: hdx-saas-dev

services:
  db:
    image: mongo:5.0.14-focal
    ports:
      - 27017:27017
    volumes:
      - .volumes/db_saas_dev:/data/db

  ch-server:
    image: clickhouse/clickhouse-server:25.7-alpine
    ports:
      - 8123:8123 # http api
      - 9000:9000 # native
    environment:
      # default settings
      CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT: 1
      HYPERDX_OTEL_EXPORTER_CLICKHOUSE_DATABASE: ${HYPERDX_OTEL_EXPORTER_CLICKHOUSE_DATABASE}
      # Set to 'true' to allow for proper OTel JSON Schema creation
      # Be sure to also set the OTEL_AGENT_FEATURE_GATE_ARG env in otel-collector
      # BETA_CH_OTEL_JSON_SCHEMA_ENABLED: 'true'
    volumes:
      - ./docker/clickhouse/local/config.xml:/etc/clickhouse-server/config.xml
      - ./docker/clickhouse/local/users.xml:/etc/clickhouse-server/users.xml
      - ./docker/clickhouse/local/init-db.sh:/docker-entrypoint-initdb.d/init-db.sh
      - .volumes/ch_data_saas_dev:/var/lib/clickhouse
      - .volumes/ch_logs_saas_dev:/var/log/clickhouse-server
    restart: on-failure
    # networks:
    #   - internal
    healthcheck:
      # "clickhouse", "client", "-u ${CLICKHOUSE_USER}", "--password ${CLICKHOUSE_PASSWORD}", "-q 'SELECT 1'"
      test:
        wget -O /dev/null --no-verbose --tries=1 http://127.0.0.1:8123/ping ||
        exit 1
      interval: 1s
      timeout: 1s
      retries: 60

  collector-shard-0:
    build:
      context: ./docker/otel-collector
      target: dev
    environment:
      # API/OpAMP runs on the host via `yarn dev:saas`
      OPAMP_SERVER_URL: http://host.docker.internal:4320
      OTEL_RESOURCE_ATTRIBUTES: hdx.shard_id=shard-0
      HDX_SHARD_ID: shard-0
      HYPERDX_LOG_LEVEL: info
      CLICKHOUSE_ENDPOINT: tcp://ch-server:9000?dial_timeout=10s
    ports:
      - 14317:4317
      - 14318:4318
    depends_on:
      - ch-server

  collector-shard-1:
    build:
      context: ./docker/otel-collector
      target: dev
    environment:
      OPAMP_SERVER_URL: http://host.docker.internal:4320
      OTEL_RESOURCE_ATTRIBUTES: hdx.shard_id=shard-1
      HDX_SHARD_ID: shard-1
      HYPERDX_LOG_LEVEL: info
      CLICKHOUSE_ENDPOINT: tcp://ch-server:9000?dial_timeout=10s
    ports:
      - 24317:4317
      - 24318:4318
    depends_on:
      - ch-server
